/*****************************************************************
******************************************************************
******************************************************************
GLOBAL CSS RULES
******************************************************************
******************************************************************
*****************************************************************/

body {
  background-color: #3f51b5;
  width: 100%;
}

.grid-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  background-color: #7986cb;
  margin: 0 .075em;
  border-radius: .25em;
}



/*****************************************************************
******************************************************************
******************************************************************
BEGIN MEDIA QUERIES
******************************************************************
******************************************************************
*****************************************************************/

/*****************************************************************
@MEDIA: MAX = 48EM
*****************************************************************/

@media only screen and ( min-width: 24px ) {

  .grid-container {

  }

 .column {
   /*width: 12em;
   height: 12em;*/
 }

} /* end @media: min = 64em */


@media only screen and ( min-width: 55em ) {

  .row-1,
  .row-2,
  .row-3 {
    position: relative;
    width: 100%;
    margin: .35em 0;
  }

  .column {
    width: 24%;
    height: 24%;
  }

  .card-icon {
    font-size: 2.65em;
    margin-top: 1.8em;
  }

} /* end @media: max = 48em */

/*****************************************************************
@MEDIA: 48EM - 64EM
*****************************************************************/

@media only screen and ( min-width: 72em ) {

  .row-1,
  .row-2,
  .row-3 {
    position: relative;
    width: 100%;
    margin: .35em 0;
  }

  .column {
    width: 16%;
    height: 12em;
  }

  .card-icon {
    font-size: 2.85em;
    margin-top: 1.7em;
  }

} /* end @media: 48em - 64em */

/*****************************************************************
@MEDIA: MIN = 64EM
*****************************************************************/
